<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vvoid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vvoid</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$vvoid</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MusicEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=[DB];Initial Catalog=Music;Persist Security Info=True;User ID=SqlAzure;Password=[Password];Application Name=EntityFramework" Name="Data Source=[DB];Initial Catalog=Music;Persist Security Info=True;User ID=SqlAzure;Password=[Password];MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MusicPlayerWeb.MusicEntities, MusicPlayerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=[DB];Initial Catalog=Music;Persist Security Info=True;User ID=SqlAzure;Password=[Password]" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MusicPlayerWeb-20130213193821.mdf;Initial Catalog=aspnet-MusicPlayerWeb-20130213193821;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MusicPlayerWeb-20130213193821;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MusicPlayerWeb-20130213193821.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=[DB];Initial Catalog=Music;Persist Security Info=True;User ID=SqlAzure;Password=[Password]</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MusicEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MusicModel.csdl|res://*/MusicModel.ssdl|res://*/MusicModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=[DB];Initial Catalog=Music;Persist Security Info=True;User ID=SqlAzure;Password=[Password];MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>